html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}



#accordion {
	background-color: white;
	width: 500px;
	border: 2px solid rgb(0,184,200);
	margin: auto;
}
.header {
	background-color: rgb(0,198,214);
	padding-left: 10px;
	margin:0;
	color: white;
	font-size: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	border: 2px solid rgb(0,184,200);
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
	font-weight: 100px;
}
.header:hover{
	background-color: rgb(0,213,235)
}
.text {
	color: rgb(118,117,115);
	font-size: 15px;
	overflow: auto;
	margin: 0px;
	height:0px;
	transition: 1s height;
	font-family: "Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;"
}
.text.open {
	height: 130px;
	padding-left:20px; 
	padding-right:20px;
	padding-top:20px;
	padding-bottom: 5px;
}










